# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# WebStorm directories
.idea
idea/

# Recent song list (don't overwrite the tracked list on Heroku
src/tracking/recent_posts.json