# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# WebStorm directories
.idea
idea/

# Per-user
config.js

# Docker
compose.yaml
README.Docker.md