# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# WebStorm directories
.idea
idea/

# Testing
image.png
response.json
test_artist.json